/* css reset to make sure that the webpage doesn't have any weird whitespace*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #212529;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 1vw 2vw;
}

hr {
    border: thin solid #d00000;
    width: 80%
}

/* styling for paragraph elements is tentative and only for this mockup*/
p {
    padding: 0 10%;
    margin: 1vw 0;
}

.logo {
    height: 100px;
}

.social-icon {
    margin: 5px;
}

.flex-social-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    margin: 0 3vw;
    padding: 3vw 0;
}

/* below starts all the styling specific to the main/home page */

#main-page {
    /* background-image: url("assets/pork-jowl.jpeg"); */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#main-content {
    width: 100%;
    position: absolute;
    top: 40%;
}

#main-content-msg {
    font-size: 2vw;
    text-align: center;
}

.main-nav-link {
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 5vw;
    margin: 0 2vw;
}

.main-nav-link:hover {
    border-bottom: 3px solid #ffffff;
}

#flex-main-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1vw 0.5em 3vw 0.5em;
    margin: 0 auto;
}

/* media queries that adjust the main content font size and other sizing depending on screen size */

@media screen and (max-width: 1440px) {
    #main-content-msg {
        font-size: 22px;
    }
}

@media screen and (max-width: 871px) {
    .main-nav-link:hover {
        border-bottom: 1px solid #ffffff;
    }
}

@media screen and (max-width: 720px) {
    .main-nav-link {
        font-size: 36px;
    }
}

@media screen and (max-width: 425px) {
    #flex-main-nav {
        flex-flow: column nowrap;
    }

    .main-nav-link {
        margin: 1vw 2vw;
    }
}
